@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600&family=Poppins:wght@300;400;500;700&display=swap');

.light__theme:root {
    --bg: #fff;
    --main: #4065d7;
    --primary: #f6f6f6;
    --secondary: #b9bed1;
    --success: #40d7a2;
    --danger: #d02941;
    --font: #1c2230;
    --box-shadow: 0px -5px 10px 3px #3c3c3c;
    --border-button: #4065d7;
}

:root {
    --bg: #1c2230;
    --main: #4065d7;
    --primary: #212639;
    --secondary: #54546b;
    --font: #b9bed1;
    --box-shadow: 0px -5px 10px 3px #121212;
    --border-button: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: var(--font);
    background-color: var(--bg);
    transition: 0.2s linear;
}