@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600&family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --bg: #1c2230;
    --main: #4065d7;
    --primary: #212639;
    --secondary: #54546b;
    --font: #b9bed1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: var(--font);
    background-color: var(--bg);
}